.breadcrumbsLink {
    text-decoration: none;
    color: #1976d2;
    font-weight: 500;
    padding: 0 5px;
}

.separator {
    margin: 0 5px;
    color: #757575;
}

.breadcrumbsContainer {
    display: inline-flex;
    align-items: center;
}
