/* .nav_btn_hove :hover{
    color: var(--primary-color) important;
} */
.nav_btn_hove:hover {
    color: var(--primary-color) !important;
    text-decoration: underline;
}

.nav_btn_hove.active {
    text-decoration: underline;
    color: var(--primary-color) !important;
}