.box {
  height: 250px !important;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content:space-around;

  align-items: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-bottom: 10px;
  background-color: #f0f0f0;
  padding: 20%;
  mix-blend-mode: multiply;
}

.DiscovernowBNT {
  transition: transform 0.5s ease-in-out; 
}




/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

/* Container for the slider */
.HomepageSliderCon2 {
  padding: 10px;
}

/* Bootstrap grid system */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-md-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.homepagesliderimage {
  mix-blend-mode: multiply;
  margin-left: auto;
  width: 200px;

}

/* Box styles */
.box {

  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-bottom: 20px;
  text-align: left;

  padding-left: 23px;

}

/* Adjust box height and styles for different screen sizes */
@media (max-width: 1200px) {
 
}

@media (max-width: 992px) {
  .box {
    height: 300px;
  }
}

@media (max-width: 768px) {
  .box {
    height: 250px;
  }
}

@media (max-width: 576px) {
  .box {
    height: 200px;
    width: 100%;
    padding: 10px !important;
    display: flex;
    justify-content: space-evenly;
    font-size: smaller;
  }
}

.box-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Box content styles */

.box-content p {
  font-size: 16px;
  color: black;
  margin-bottom: 10px;
}

.DiscovernowBNT {
  text-decoration: none;
  color: black;
}

.DiscovernowBNT:hover {
  color: var(--primary-color);
}


@media (min-width: 760px) and (max-width: 999px) {
  .box-content{
    flex-direction: column;
    justify-content: center;
  }
}


@media (max-width: 576px) {

 
  .box{
   width: 90vw;
    
  }
}