.banner_img_woman img {
    height: 325px !important;
    width: 100% !important;
    /* right: -160px; */
    position: relative;
    object-fit: contain;
}

.banner_img_sm img {
    max-height: 200px !important;
    width: 100% !important;
}

.banner_container {
    padding-top: 85px !important;
    padding-bottom: 30px !important;
}

@media (max-width: 770px) {
    .banner_container {
        padding-top: 55px !important;
        padding-bottom: 20px !important;
    }
}

@media (max-width: 470px) {
    .banner_container {
        padding-top: 25px !important;
        padding-bottom: 10px !important;
    }
}

.mobile_view {
    padding: 15px;
}

.category_lable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    min-width: 65px;
    gap: 5px;
    cursor: pointer;
}

.img_container_category {
    border: 1px solid var(--colorborder);
    border-radius: 4px;
    width: 100%;
    height: 80%;
}

.img_container_category img {
    border-radius: 4px;
    width: 100%;
    height: 100%;
}

.desktop_view_box {
    padding: 50px;
}

.category_img {
    height: 60px;
    width: 60px;
    background-color: #ede9e9;
    border-radius: 10px;
    padding: 10px;
}

.category_name {
    /* font-family: var(--fontpoppins) !important; */
    font-size: 10px;
}

.categories {
    display: flex;
    overflow-x: scroll;
    gap: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: 82px;
}

.categories::-webkit-scrollbar {
    display: none;
}

.search-container {
    width: 100%;
    margin: 15px 0;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
}

.mobile_view_page {
    display: none;
}

@media (max-width: 570px) {
    .mobile_view_page {
        display: block;
    }

    .desktop_view {
        display: none;
    }

    .block2-pic {
        height: 150px;
    }
}

.newarrival_container {
    margin-bottom: 30px;
}

.head_btn_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
}

.mbl_view_box {
    padding: 15px;
}

.btn_mbl {
    font-weight: 600;
    color: var(--primary-color) !important;
}

/* .head_btn_container button{
    font-weight: 600;

} */