.custom-tab-list {
  text-align: center;
  margin-top: 50px;
}

.detailpagetab {
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-tabs {
  width: 100%; /* Ensure tabs take up full width */
}

.react-tabs__tab-list {
  border-bottom: none;
  width: 100%; /* Tab list takes up full width */
  max-width: 100%; /* Optional: Ensure no overflow */
  display: flex;
  justify-content: center; /* Center tabs horizontally */
}

.react-tabs__tab {
  border: none;
  color: black !important;
  padding: 10px 15px;
  cursor: pointer;
  margin-right: 10px;
}

.react-tabs__tab--selected {
  font-weight: bold;
}

.react-tabs__tab-panel {
  width: 80vw; /* Tab panels take up full width */
  border: none;
  margin: auto;
  padding: 20px;
}

.table_container {
  width: 100%; /* Ensure table container takes up full width */
  overflow-x: auto; /* Enable horizontal scrolling if needed */
}

.table_container table {
  width: 100%; /* Ensure table takes up full width */
  min-width: 100%; /* Minimum width to prevent horizontal overflow */
  border-collapse: collapse;
}

.table_container table th,
.table_container table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table_container table th {
  font-weight: bold;
}

.general_title {
  font-weight: bold;
}
